#cennik_table li{
    display: block;
    width: calc(100% - 80px);
    margin: 20px 40px;
    background-color: rgb(219, 172, 86);
    border-radius: 5px;
}
#cennik_table li h3{
    margin: 20px;
    display: inline-block;
}
#cennik_table li p{
    margin: 15px 30px;
    display: inline-block;
}
#cennik hr{
    width: 96%;
    margin: 0 2%;
}

@media screen and (max-width: 1025px) {
    #cennik_table li{
        margin: 20px 10px;
        width: calc(100% - 20px);
    }
}